---
title: Installation
subtitle:
---

Install Svelte Table with the package manager of your choice

```bash
# Using npm
npm install svelte-table

# Using yearn
yearn add svelte-table

# Using pnpm
pnpm add svelte-table
```

Svelte Table makes use of the powerful runes so it requires Svelte `5.0` or later
